<p>dice-system works!</p>

<form>

    <label for="Dice" class="form-label"></label>
    <button type="submit" class="btn btn-primary" (click)="submit(4)">        
        <img src="/assets/de-4-faces.jpg" alt="Dé à 4 faces"> Dé à 4 faces
    </button>
    <button type="submit" class="btn btn-primary" (click)="submit(6)">       
        <img src="assets/de-6-faces.webp" alt="Dé à 6 faces"> Dé à 6 faces
    </button>
    <button type="submit" class="btn btn-primary" (click)="submit(8)">        
        <img src="assets/de-8-faces.webp" alt="Dé à 8 faces"> Dé à 8 faces
    </button>
    <button type="submit" class="btn btn-primary" (click)="submit(12)">        
        <img src="assets/de-12-faces.webp" alt="Dé à 12 faces"> Dé à 12 faces
    </button>
    <button type="submit" class="btn btn-primary" (click)="submit(20)">        
        <img src="assets/de-20-faces.webp" alt="Dé à 20 faces"> Dé à 20 faces
    </button>

</form>